@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    margin: 0%;
    font-family: "Roboto", sans-serif;
    background-color: #2f3542;
    color: #D4AF37;
}

.hidden{
    display: none;
}
.login-child{
    width: 360px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}
.register-child{
    width: 360px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}
.title{
     width: 250px;
}
.header-child{
    background-color: #D4AF37;
    padding: 1px;
    padding-left: 1%;
    color: #fefefe;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    display: flex;
}
.header-child button{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 0 10px;
    border: #f2f2f2 2px solid;
    background-color: #D4AF37;
    color: #f2f2f2;
}
.header-child button:hover{
    background-color: #b3902c;
}
#customer-header-content{
}

.customer-header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#restaurant-header-content{
    float: right;
}
.login-register-form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-register-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.login-register-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #D4AF37;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 5px 0;
}
.login-register-form button:hover,.login-register-form button:active,.login-register-form button:focus {
    background: #c3Ac26;
}
.password {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 50px;
    background: #f2f2f2;
}
form div i{
    padding: 5px 5px;
}
.username {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 50px;
    background: #f2f2f2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    background-color: #D4AF37;
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 10px 10px;
    z-index: 1;
}

.dropdown-menu button {
}

.profile{
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.profile-menu-box{
    display: block;
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.profile-settings-box{
    width: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.profile-settings-box-header{
    text-align: center;
    height: 50px;
    background-color: #f2f2f2;
    color: #2f3542;
    font-size: 48px;
}

.profile button{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 5px 10px;
    border: #f2f2f2 2px solid;
    background-color: #2f3542;
    color: #f2f2f2;
}
.cart{
    display: inline-block;

}

.menu-table tr {
    border: 2px solid #D4AF37;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.menu-table {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.menu-table table tr td:first-child {
    flex: 0 1;
}

.menu-table td.food-details {
    flex: 1;
    padding-left: 20px;
}

.menu-table tr.add-to-cart-tr {
    display: flex;
    justify-content: flex-end;
    border: none;
}

.menu-table input.add-to-cart-button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 0 10px;
    border: #f2f2f2 2px solid;
    background-color: #D4AF37;
    color: #f2f2f2;
}
.menu-table ul.food-details-li {
    padding-left: 19px;
}

.menu-table tr td img {
    margin-left: -20px;
    margin-bottom: -4px;
}
